// Fonts:
@import url("../fonts/ShipporiMincho/font.css");
@import url("../fonts/SometypeMono/font.css");

// Icons:
@import "../icons/packs/uicons-solid-straight/css/uicons-solid-straight.css";

// Tailwind CSS:
@import url("./tailwind.css");

// Definition of classes independent of Tailwind CSS:
.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.smallcaps {
    font-variant: small-caps;
}

// Application of styles independent of Tailwind CSS:
html {
    // Disable select and drag by default for cleaner look and feel.
    @extend .no-select;
    @extend .no-drag;
    * {
        @extend .no-select;
        @extend .no-drag;
    }
}
